html {
  font-size: .9rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.4rem;
  }
}

body {
	font-family: 'Roboto', sans-serif;
}

p.text-small{
	// font-size: .8rem;
}

h1, h2, h3, h4 {
	font-family: 'Cabin', sans-serif;
}
