body {
	font-family: 'Roboto', sans-serif;
}

p {
	font-size: 1.2vw;
}

p.text-small{
	font-size: .8vw;
}

h1, h2, h3, h4 {
	font-family: 'Cabin', sans-serif;
}

h2 {
	font-size: 2vw;
}

h3 {
	font-size: 1.2vw;
}

.display-4 {
	font-size: 3vw;
}

h1.pagetitle {
	font-size: 5vw;
	// background: rgba($primary, 0.3);
}

h2.pagetitle {
	font-size: 2vw;
	// background: rgba($primary, 0.3);
}